<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/miniplayer.css" rel="stylesheet">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://cdn-files.deezer.com/js/min/dz.js"></script>
    <title>MiniPlayer</title>
</head>

<body style="padding-top: 10px; background-color: black; color: white;">
        
    <!-- Caroussel -->
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active"> 
                <img id="Artist0" alt="Architecture" height="100" src="{{ app.request.basepath }}/images/slide0.jpg">
            </div>
        </div> 
    </div>
   
        <!-- Bloc Biographie
        ================================================== -->
        <div class="marquee">
            <div class='marquee-text' id="bioartiste">...</div>
        </div>
        
        <!-- Bloc Pochette / Titrage
        ================================================== -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"><img id="Pochette" alt="Pochette" src="{{ app.request.basepath }}/images/logo0.jpg"></div>
                <div class="col-md-10">
                    <div id="Artist">Artist</div>
                    <div id="Titre">Titre (Album)</div>
            </div>
        </div>

        <!-- Bloc Barre de défilement
        ================================================== -->
        <div class="container-fluid">
            <div id="slider_seek" class="progress active">
                <div class="progress-bar progress-bar-info" style="width: 0%"></div>
            </div>
        </div>

        <!-- Bloc Commandes
        ================================================== -->
        <div class="container-fluid">
            <div class="row text-left" id="panneaucommandes">
                <a class="btn btn-info" href="{{ path('home') }}"> <i class="fa fa-undo fa-4x"></i></a>

                <div class="btn-group" role="group">
                    <a class="btn btn-success" onclick="DZ.player.prev(); return false;"> <i  class="fa fa-step-backward fa-4x"></i></a>
                    <a id="play_btn" class="btn btn-danger"> <i id="play_icn" class="fa fa-pause fa-4x"></i></a>
                    <a class="btn btn-success" onclick="DZ.player.next(); return false;"> <i  class="fa fa-step-forward fa-4x"></i></a>
                </div>

                <a id="shuffle_btn" class="btn btn-danger"> <i class="fa fa-random fa-4x"></i></a>

                <div class="btn-group" role="group">
                    <a class="btn btn-success" onclick="DZ.player.setVolume(0);"> <i  class="fa fa-volume-off fa-4x"></i></a>
                    <a class="btn btn-success" onclick="DZ.player.setVolume(20);"> <i  class="fa fa-volume-down fa-4x"></i></a>
                    <a class="btn btn-success" onclick="DZ.player.setVolume(80);"> <i  class="fa fa-volume-up fa-4x"></i></a>
                </div>
            </div>
        </div>
        <br/><br/>
    </div>
    <div id="dz-root"></div>


    <script>

        var boutonplay = document.getElementById('play_btn'),
            iconeplay = document.getElementById('play_icn'),
            boutonsh = document.getElementById('shuffle_btn'),
            ArtistEl = document.getElementById('Artist'),
            TitreEl = document.getElementById('Titre'),
            PrgBar = document.getElementById('pgbar'),
            BioText = document.getElementById('bioartiste'),
            panneauCommandes = document.getElementById('panneaucommandes');
        var pubKey = "83f54fdc5926e2c0a0c8fdcd3bcc7ed6";

        function disparait_panneau() {
    		panneauCommandes.style.opacity = '0.1';
        };
        
        // Controle des clicks sur la barre de défilement
    	$(document).ready(function(){
    		$("#controlers input").attr('disabled', true);
    		$("#slider_seek").click(function(evt,arg){
    			var left = evt.offsetX;
    			console.log(evt.offsetX, $(this).width(), evt.offsetX/$(this).width());
    			DZ.player.seek((evt.offsetX/$(this).width()) * 100);
    		});
    	});

        // Alimentation fenetre des messages en bas de page (temporaire)
        function event_listener_append() {
    		var pre = document.getElementById('event_listener');
    		var line = [];
    		for (var i = 0; i < arguments.length; i++) {
    			line.push(arguments[i]);
    		}
    		pre.innerHTML = line.join(' ') + "\n" + pre.innerHTML;
    	}

        function toggle_play() {
            if(boutonplay.className === 'btn btn-danger') {
                boutonplay.className = 'btn btn-success';
                iconeplay.className = 'fa fa-play fa-4x';
                DZ.player.pause();
            } else {
                boutonplay.className = 'btn btn-danger';
                iconeplay.className = 'fa fa-pause fa-4x';
                DZ.player.play();
            };
    	}

        function toggle_shuffle() {
            if(boutonsh.className === 'btn btn-danger') {
                boutonsh.className = 'btn btn-success';
                DZ.player.setShuffle(true);
            } else {
                boutonsh.className = 'btn btn-danger';
                DZ.player.setShuffle(false);
            };
    	}

        // Gestion des évenements une fois que le lecteur est pret
    	function onPlayerLoaded() {
       		$("#controlers input").attr('disabled', false);
    		event_listener_append('Le lecteur est pret ...');
            // Mise en lecture de la playlist en parametre
            DZ.player.playPlaylist({{ deezerid }});

    		// Actions suite au changement de chanson
            DZ.Event.subscribe('current_track', function(cur_track){
                var cur_track ;
                var nomArtist = cur_track.track.artist.name ,
                    nomTitre = cur_track.track.title ,
                    nomAlbum = cur_track.track.album.title ;
                var NewArtist = document.createTextNode(nomArtist);
                var NewTitre = document.createTextNode(nomTitre + ' (' + nomAlbum + ')' );
                
                ArtistEl.replaceChild(NewArtist, ArtistEl.firstChild);
                TitreEl.replaceChild(NewTitre, TitreEl.firstChild);
                
                $.ajax({
                    url: "http://ws.audioscrobbler.com/2.0/?method=artist.getinfo&artist=" + nomArtist + "&api_key=" + pubKey + "&format=json&lang=fr"        
                }).then(function(data) {
                    var BioTextElNew = document.createTextNode(data.artist.bio.content);
                    BioText.firstChild.data = data.artist.bio.content;
                    $('div.marquee').css('text-indent',$('div.marquee').width());
                    $('div.marquee').each(function() {});
                });


                event_listener_append('A l ecoute :', cur_track.index, '-', nomArtist, '-', cur_track.track.title, '(', cur_track.track.album.title, ')');
                DZ.api('/track/' + cur_track.track.id, function(reponse){
                    document.images.Pochette.src = reponse.album.cover_xl;
                    document.images.Artist0.src = reponse.artist.picture_xl;
                });

//                apims.get('Artist', 2, function(artistms) {
//                    event_listener_append( 'nom ms:', artistms.name );
//                });
                
            });
 
            // Actions suite au changement de position dans la chanson
                DZ.Event.subscribe('player_position', function(arg){
                    $(".progress-bar").css('width', (100*arg[0]/arg[1]) + '%');
                });
    	}

        //Initialisation du lecteur
        DZ.init({
    		appId  : '186864',
    		channelUrl : 'http://192.168.1.16/minideezer/',
    		player : {
    			onload : onPlayerLoaded
    		}
    	});
        
        // Gestion du bouton Shuffle
        boutonsh.addEventListener('click', function(e) {
            toggle_shuffle();
        });

        // Gestion du bouton Lecture/Pause
        boutonplay.addEventListener('click', function(e) {
            toggle_play();
        });

        // Gestion de l'affichage du panneau de controle (disparait au bout de 2 secondes
        // si la souris ne bouge plus
        document.addEventListener('mousemove', function(e) {
            if (panneauCommandes.style.opacity !== '1') {
                panneauCommandes.style.opacity = '1';
                setTimeout(disparait_panneau, 5000); 
            };
        });
        
        // Controles via les touches du clavier
        document.addEventListener('keydown', function(e) {
        switch(e.keyCode) {
            case 32: // Espace Play/Pause
            case 80: // P Play/Pause
                toggle_play();
                break;
            case 88: // X pour escape
            case 27: // ESCAPE pour escape
                window.open('{{ path('home') }}', '_self')
                break;
            case 61: // + Pour augmenter le son
            case 107: // +(pavé) Pour augmenter le son
                if (DZ.player.getVolume() < 80) {
                    DZ.player.setVolume(DZ.player.getVolume() + 20);
                }
                break;
            case 54: // + Pour augmenter le son
            case 109: // +(pavé) Pour augmenter le son
                if (DZ.player.getVolume() > 20) {
                    DZ.player.setVolume(DZ.player.getVolume() - 20);
                }
                break;
            default:
                break;
        };
    });

    // Fonctions nécessaires pour le scrolling de texte
    (function($) {
        $.fn.textWidth = function(){
             var calc = '<span style="display:none">' + $(this).text() + '</span>';
             $('body').append(calc);
             var width = $('body').find('span:last').width();
             $('body').find('span:last').remove();
            return width;
        };
        
        $.fn.marquee = function(args) {
            var that = $(this);
            var textWidth = that.textWidth(),
                offset = that.width(),
                width = offset,
                css = {
                    'text-indent' : that.css('text-indent'),
                    'overflow' : that.css('overflow'),
                    'white-space' : that.css('white-space')
                },
                marqueeCss = {
                    'text-indent' : width,
                    'overflow' : 'hidden',
                    'white-space' : 'nowrap'
                },
                args = $.extend(true, { count: -1, speed: 1e1, leftToRight: false }, args),
                i = 0,
                stop = textWidth*-1,
                dfd = $.Deferred();
            
            function go() {
                if(!that.length) return dfd.reject();
                if(width == stop) {
                    i++;
                    if(i == args.count) {
                        that.css(css);
                        return dfd.resolve();
                    }
                    if(args.leftToRight) {
                        width = textWidth*-1;
                    } else {
                        width = offset;
                    }
                }
                that.css('text-indent', width + 'px');
                if(args.leftToRight) {
                    width++;
                } else {
                    width--;
                }
                setTimeout(go, args.speed);
            };
            if(args.leftToRight) {
                width = textWidth*-1;
                width++;
                stop = offset;
            } else {
                width--;            
            }
            that.css(marqueeCss);
            go();
            return dfd.promise();
        };
    })(jQuery);

    var marquee = $('div.marquee');

    marquee.each(function() {
        var mar = $(this),indent = mar.width();
        mar.marquee = function() {
            indent--;
            mar.css('text-indent',indent);
            if (indent < -1 * mar.children('div.marquee-text').width()) {
                indent = mar.width();
            }
        };
        mar.data('interval',setInterval(mar.marquee,1000/60));
    });

    </script>
    
    <br/>
    Messages : <br/>
    <pre id="event_listener" style="height:150px;overflow:auto;"></pre>
</body>
</html>
